<!-- A way to automate this would be nice -->
<nav>
  <p>Navigation</p>
  <ul>
    <li><a href="#mjir-ecs-library">Top</a></li>
    <li>
      <a href="#quickstart">Quickstart</a>
      <ul>
        <li><a href="#init-and-quit">Init and Quit</a></li>
        <li><a href="#entities">Entities</a></li>
        <li><a href="#components">Components</a></li>
        <li><a href="#queries">Queries</a></li>
      </ul>
    </li>
    <li>
      <a href="#breakdown">Breakdown</a>
      <ul>
        <li><a href="#logger">Logger</a></li>
        <li><a href="#types">Types</a></li>
        <li>
          <a href="#entities-1">Entities</a>
          <ul>
            <li><a href="#entity-manager">Entity Manager</a></li>
            <li><a href="#creating-entities">Creating Entities</a></li>
            <li><a href="#entity-magic">Entity Magic</a></li>
          </ul>
        </li>
        <li>
          <a href="#components-1">Components</a>
          <ul>
            <li><a href="#creating-components">Creating Components</a></li>
            <li><a href="#registering-components">Registering Components</a></li>
            <li><a href="#component-map">Component Map</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <p>External Links</p>
  <ul>
    <li><a target="_blank" href="https://github.com/MisterMjir/jEL">GitHub Repo</a></li>
    <li><a target="_blank" href="https://github.com/jelecs">GitHub Org</a></li>
  </ul>
</nav>
