nav {
  position: fixed;
  top: 32px;
  right: 0;
  width: 10%;
  padding: 0 32px;

  p {
    text-align: center;
    color: #3a3a3a;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      /* Nested lists */
      ul {
        margin-left: 16px;
      }
    }

    a {
      color: #7a7a7a;
      text-decoration: none;
    }
  }
}
